# Prefix used for naming aws resources created by terraform
TF_VAR_aws_prefix=__CHANGE_ME__
#
# Clouldflare dns zone ID and API token
TF_VAR_cloudflare_api_token=__CHANGE_ME__
TF_VAR_cloudflare_zone_id=__CHANGE_ME__
#
# Email address to use for LetsEncrypt
TF_VAR_acme_email=__CHANGE_ME__
#
# Optional environment variables (uncomment and modify as required):
#AWS_PROFILE=__CHANGE_ME__
#TF_VAR_aws_region=eu-west-2
